
/* For ALL pages */

html {
  scroll-behavior: smooth;
}

body {
    background-color: #f8f0de;
}

.center {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
}

.overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
}

.multipleButtonsDiv {
  padding:5px;
}

button {

}

button:hover {
    
}

/* navigation bar */
.navbar {
  padding: 10px;
  background-color: #cf6d48;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

.navbar-link:hover {
  cursor:pointer;
}

.navbar-link {
  color: white;
}

/* Trips */
.trip {
    margin: 25px;
}

.trip img {
    max-width: 100%;
    max-height: 100%;
}

.trip button {
    margin: 10px;
}

.tripstotake-container {
    max-width: 75%; /* add a max width for mobile screens */
}

.tripstotake-ul li {
    text-align: left;
}

/* Photo gallery */
#photogallery {
  display: table;
  margin-left: 100px;
  margin-right: 100px;
}

#photogallery img {
  object-fit: cover;
  width: 200px;
  height:200px;
  padding: 10px;
}

/* for the timeline */
.div-center {
  margin:auto;
}

.timeline-item-l {
  text-align: right;
  border-right: 5px solid black;
}

.timeline-item-r {
  text-align: left;
}

.timeline-date {
  font-weight: bold;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}