/* For ALL pages */

body {
    background-color: #f8f0de;
}

.center {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
}

.overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
}

button {

}

